@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
.bannerImage{
    height: 600px;
}

/* banner  */
/* CSS */
.button-48 {
  appearance: none;
  background-color: #88f1ff;
  border-width: 0;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: Clarkson,Helvetica,sans-serif;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1em;
  margin: 0;
  opacity: 1;
  outline: 0;
  border-radius: 5px;
  padding: 1em 1.5em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-48:before {
  animation: opacityFallbackOut .5s step-end forwards;
  backface-visibility: hidden;
  background-color: #f84242;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  border-radius: 5px;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
  width: 100%;
}

.button-48:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.button-48:after {
  background-color: #FFFFFF;
}

.button-48 span {
  z-index: 1;
  position: relative;
}

/* =============================================== offers starts here   =============================================  */
.offerBorder1{
    width: 50%;
}
.offerBorder2{
    width: 30%;
}
.offerBorder3{
    width: 10%;
}
.card img{
    width: 100%;
    height: 300px;
}
.offer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
}
.offerCol{
  position: relative;
  height: 300px;
  width: 450px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 1px 5px 0px rgba(135, 218, 243, 0.3);
  transition: 0.3s ease-out;
  margin: auto;

}
.offerCol:hover{
  box-shadow: 0px 1px 35px 0px rgba(109, 230, 241, 0.3);
}
.offerCol .offerCard{
  /* background: #000; */
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  transition: transform 0.3s ease-out;
}
.offerCol:hover .offerCard{
  transform: translateY(-100px);
}
.offerCard img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease-out;
}
.offerCol:hover .offerCard img{
  opacity: 0.7;
}
.offerCol:hover .offerCard{
 transform: translateY(-100px);
}

.offerCol .content{
  position: relative;
  width: 100%;
  height: 100%;
  background: #fff;
}
.info{
  position: absolute;
  bottom: 20px;
  text-align: center;
  width: 100%;
  color: #000;
  line-height: 26px;
}
.info h2{
  font-size: 27px;
  margin: 3px 0;
}
.info span{
  color: #1a1a1a;
}
.toast{
    background: rgb(87, 197, 207);
    position: fixed;
    bottom: 50px;
    right: 0 ;
    z-index: 999;
}

/* CSS */
.button-24 {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-24:hover,
.button-24:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.button-24:active {
  opacity: .5;
}
/* =============================================== line section   =============================================  */
.secondBannerContainer{
  padding: 20px;
  display: flex; 
  justify-content: space-between;
  align-items: center;
  margin-top: 150px;
  margin-bottom: 150px;
}
.bannerImage img{
  width: 480px;
}
.secondBanner{
  background: rgb(213, 242, 255);
}
.bannerContent{
  margin: 20px;
}
.bannerContentTitle{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;


}

/* CSS */
.button-49,
.button-49:after {
  width: 150px;
  height: 76px;
  line-height: 78px;
  font-size: 20px;
  font-family: 'Bebas Neue', sans-serif;
  background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #00E6F6;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-49:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  
  content: 'Ahad';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

.button-49:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}



/* =============================================== line section   =============================================  */
.foodsContainer{
  display: grid;
  grid-template-columns: repeat(4 , 1fr);
  grid-gap: 20px;
}
.foodCard{
background: #fff;
border-radius: 26px;
  background: rgb(225, 254, 255);
  margin: auto;
  padding: 25px;
}
.foodCard img{
    width: 200px;
    height: 200px;
    margin: auto;
}


 /* Footer start her ------------------------------- */
 footer{
  background: #74d4f9;
  color: white;
}
.fab{
  cursor: pointer;
}
.footer-logo, .copyright{
  
  display: flex;
  justify-content: center;
}


/* =============================================== responsive starts here   =============================================  */

@media only screen and (max-width:768px) {
    .bannerImage{
        height: 400px;
    }
    .offer{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 50px;
    }
    .offerCol{
        width: 90%;
    }
    .foodsContainer{
      display: grid;
      grid-template-columns: repeat(2 , 1fr);
      grid-gap: 20px;
    }
    .foodCard img{
      width: 100px;
      height: 100px;
      margin: auto;
  }
  .button-49,
  .button-49:after {
    width: 200px;
    height: 86px;
    line-height: 88px;
  }
  .secondBannerContainer{
    flex-direction: column-reverse;
  }.bannerImage img{
    width: 280px;
  }.bannerContent{
    margin: 30px;
  }
}

